{% extends 'base.html.twig' %}

{% block title %}Parts{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <div style="float: right; margin: 10px 10px 10px;">
        <form action="{{ path('categories_search') }}" method="get">
            <input type="search" aria-label="Search" name="q">
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="container">
        <h2>Parts</h2>
        {% for category in categories %}
            <div>{{ category.categoryName }}</div>
            {% if category.parts %}
                <ul>
                    {% for part in category.parts %}
                        <li>{{ part.partName }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}