{% extends 'base.html.twig' %}

{% block title %}Search result{% endblock %}

{% block body %}
    <div class="container">
        {% if categories[0] is defined %}
            {% for category in categories %}

                <div>{{ category.categoryName }}</div>
                {% if category.parts %}
                    <ul>
                        {% for part in category.parts %}
                            <li>{{ part.partName }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        {% else %}
            <div style="text-align: center; margin: 15px;">Nothing to display.</div>
        {% endif %}
    </div>
    <br />
    <a href="{{ path('home') }}">Home</a>
{% endblock %}